* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    outline: none;
}


:root {
    --color1: #121212;
    --color2: #1e1e1e;
    
    --color3: #2c2c2c;
    --color4: #3a3a3a;

    --color5: #f0f8ff;
    --color6: #d4d4d4;

    --textcolor: #ffffff;
}


body {
    background-color: var(--color1);
    color: var(--textcolor);
}

.file {
    color: lightgreen;
}

.share {
    color: lightblue;
    transition: 0.5s;
}



.title {
    cursor: default;
}

.title h1:hover {
    .file {
        color: lightblue;
    }

    .share {
        color: lightgreen;
    }
}

body {
    height: 100vh;
}

.themebutton {
    position: fixed;
    bottom: 0;
    right: 0;

    font-size: 18px;
    border-radius: 0;
    border-top-left-radius: 5px;

    background-color: var(--color2);
    color: var(--textcolor);

    &:hover {
        background-color: var(--color3);
    }

    .fa-sun, .fa-moon {
        display: none;
    }
}

.themebutton.dark {
    .fa-sun {
        display: block;
    }
}

.themebutton.light {
    .fa-moon {
        display: block;
    }
}