main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}


header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    nav {
        ul {
            list-style: none;
            display: flex;
            gap: 15px;
            li{ 
                a {
                    text-decoration: none;
                    background-color: #232323;
                    padding: 5px 10px;
                    border-radius: 5px;
                    color: lightblue;
                    transition: 0.3s;
                    &:hover {
                        color: lightgreen;
                    }
                }
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.download-button, .copy-link-button {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: lightgreen;
    color: #121212;
    border: none;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 10px 0px 0px 10px;
}

.download-button:hover {
    transform: scale(1.05);
}

#image, #videoplayer {
    max-width: 80%;
    max-height: 500px;
    margin-bottom: 20px;
}

.copy-link-button {
    color: lightgreen;
    background-color: #121212;
    border: 1px solid lightgreen;

    border-radius: 0px 10px 10px 0px;
}

.copy-link-button:hover {
    transform: scale(1.05);
}

.buttoncontainer {
    display: flex;
    gap: 15px;
}

h2 {
    text-align: center;
}